.advanced-calendar-view {
  .fc-event {
    border: none !important;
    background-color: rgb(0 0 0 / 20%) !important;
  }

  a.fc-event.fc-completed-event {
    opacity: .5;
  }
}

.mod-sidedock .markdown-source-view.mod-cm6 .edit-block-button,
.mod-sidedock .block-language-tasks .task-count,
.cm-preview-code-block.cm-embed-block.markdown-rendered:nth-child(3) .task-due,
.cm-preview-code-block.cm-embed-block.markdown-rendered:nth-child(6) .task-due {
  display: none;
}

.mod-sidedock .markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget) {
  box-shadow: none !important;
  border: none !important;
}

.mod-sidedock .markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget) .block-language-tasks {
  padding-left: 4px;
}

ul.contains-task-list .task-list-item-checkbox {
  top: 4px;
}

span.task-due,
span.task-extras {
  font-size: 11px;
  margin-right: 6px;
}

span.task-description {
  display: block;
  position: relative;
  margin-top: -21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.tasks-backlink {
  font-size: 0;
}

span.tasks-backlink a {
  font-size: 9px;
  position: relative;
  top: 4px;
  max-width: 35px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
  text-decoration: none !important;
  opacity: 0.7;
}

.tasks .padding>.content {
  border: none !important;
}

ul>li.task-list-item[data-task="x"],
ul>li.task-list-item[data-task="X"] {
  text-decoration: none;
  opacity: .5;
}

.view-content.tasknotes-view-active .bases-header {
  display: none;
}


.fc-dayGridMonth-view {
  .fc-daygrid-event-harness-abs {
    position: relative !important;
    visibility: visible !important;
  }

  .fc-daygrid-day-bottom {
    display: none;
  }

  .fc-daygrid-body-balanced .fc-daygrid-day-events {
    position: relative;
  }

  .fc-col-header-cell-cushion {
    color: #fff;
    pointer-events: none;
  }
}